* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.header {
  width: 100%;
  height: 56px;
  background: rgba(43, 43, 43, 1);
  padding: 12px 48px;
  margin: 63px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.header {
  width: 120px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 12px;
  left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  background-color: aquamarine;
}


.container {
  display: flex;
  background-color: #2B2B2B;
  width: 90%;
  max-width: 1120px;
  height: 56px;
  margin: 0 auto;
  align-items: center;
  padding-left: 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/*ヘッター*/
.header {
  padding: 24px 0;
}

.sidebarWrapper {
  padding: 24px;
}

.sidebar {
  width: 260px;
  padding: 16px;
  height: 100%;
}

.mainContent {
  flex-grow: 1;
  background-color: #FFFFFF;
  height: 100%;
  padding: 24px;
}

.mainContentWrapper {
  flex-grow: 1;
  height: 100%;
  padding: 24px;
}

.rightBar {
  background-color: #FFF;
  height: 100%;
  width: 338px;
  padding: 24px;
  border-radius: 0.25rem;
}

.rightBarWrapeer {
  height: 100%;
}

.rightContent {
  width: 100%;
  padding: 16px;
}

.logo {
  color: white;
}

.Button {
  display: flex;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  width: 100%;

  border-radius: 0.75rem;
  background: var(--Black, #2B2B2B);
  color: #FFFFFF;
}

.body {
  background-color: #F7F7F7;
}


.contentContainer {
  margin: 24px;
  height: 100%;
}

.test {
  background-image: url("test.svg");
}

.title {
  height: 2.75rem;
}

.chatWrapper {
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.chat {
  display: flex;
  /* フレックスボックスレイアウトを使用 */
  align-items: center;
  /* アイコンとテキストを中央揃えに */
  gap: 8px;
  /* アイコンとテキストの間隔 */
  /* その他のスタイリング (背景色、パディング、ボーダーなど) */
  display: flex;
  padding: 0.75rem;
  align-items: flex-end;
  gap: 0.5625rem;
  align-self: stretch;
  width: 100%;
  border-bottom: 1px solid var(--gray004, #F7F7F7);
  border: none;
  background: var(--White, #FFF);
}


.chatContent {
  display: flex;
  padding: 0.25rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F7F7F7;
  height: 120px;
  margin: 16px;
  border: 1px solid var(--gray003, #ECECEC);
  padding: 16px;
}

.chatContentme {
  margin: 16px;
  border-radius: 0.25rem;
  border: 1px solid var(--gray003, #ECECEC);
  background: var(--White, #FFF);
  padding: 16px;
}

.chatContentWrapeer {
  height: 100%;
  width: 100%;
}

.inputText {
  text-align: center;
  height: 3.125rem;
  border-radius: 1.875rem;
  border: 1px solid var(--gray002, #A5A5A5);
}